<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>YourBank</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/login.css?v=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="https://andrewlock.net/content/images/2016/10/icon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<style>
  /*GLOBAL */

body {
    background-image: url(https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2017/02/Photoshop-Replace-Background-Featured.jpg);
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
}


</style>


<body>

<div class="header">

<div class="logo">


</div>





</div>


</body>
</html>